.backdrop {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
}

.form {
  position: absolute;
  top: auto;
  margin: 4rem auto;
  width: 40%;
  padding: 3rem;
  background-color: #abbddf;
  border-radius: 6px;
  z-index: 1;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: right;
}

.button {
  margin-left: 1rem;
}
